* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(12, 12, 62);
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#heading {
    font-size: 7vh;
    color: white;
    font-weight: bold;
}

#search {
    height: 7vh;
    width: 500px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
}

#city {
    height: 5vh;
    width: 60%;
    font-size: 2.2vh;
    margin: 1vh;
    padding-left: 5px;

    border: none;
    border-bottom: 2px solid white;

    font-weight: bold;
    color: white;
    outline: none;
    background: transparent;
}

#searchBtn {
    height: 5vh;
    width: 20%;
    font-size: 2.5vh;
    font-weight: bold;
    margin: 1vh;

    color: white;
    background-color: rgb(228, 24, 24);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#box {
    height: 65vh;
    width: 25vw;
    min-width: 260px;

    background-color: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    font-size: 4vh;
    justify-content: space-between;

    padding: 4vh 2vw;
    font-size: 4vh;
    font-weight: bold;
}

#boxMsg {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4vh;
    text-align: center;
}

#weatherData {
    display: none;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

#disCity {
    height: 5vh;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
}

#disTemp {
    height: 20vh;
    font-size: 3em;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    padding-bottom: 1vh;
}

#disHum {
    height: 5vh;
    font-size: 0.8em;
    align-items: center;
}

#disIcon {
    height: 27vh;
    max-height: 100%;
    width: auto;
    display: inline;
}

#disLine {
    height: 8vh;
    font-size: 0.7em;
    text-transform: uppercase;
    align-items: flex-start;
}