* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(12, 12, 62);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#heading {
    font-size: 7vh;
    color: white;
    font-weight: bold;
}

#search {
    height: 7vh;
    width: 500px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
}

#city {
    height: 5vh;
    width: 60%;
    font-size: 2.2vh;
    margin: 1vh;
    padding-left: 5px;

    border: none;
    border-bottom: 2px solid white;

    font-weight: bold;
    color: white;
    outline: none;
    background: transparent;
}

#searchbtn {
    height: 5vh;
    width: 20%;
    font-size: 2.5vh;
    font-weight: bold;
    margin: 1vh;

    color: white;
    background-color: rgb(228, 24, 24);
    border: none;
    border-radius: 5px;
}

#box {
    height: 65vh;
    width: 27vw;
    background-color: white;
    border-radius: 20px;
}